[user]
	name = BrandonPacewic
	email = pacewicbrandon@gmail.com
[core]
	editor = nvim
	excludesfile = ~/.config/git/.gitignore
[pull]
	rebase = false
[safe]
	directory = /Users/brandon/.config
	directory = /Users/brandon/.config/ProblemManager/DebugAndRun
	directory = /Users/brandon/.config/ProblemManager/TestSamples
	directory = /Users/brandon/.config/ProblemManager/TemplateGenerator
[advice]
	statusHints = false
