# Global git ignores

# MacOS
.DS_Store*

# Test files
[Nn]otes.txt
[Tt]est.*

# Visual Studio
.vs/
.vscode/

# Todo notes
[Tt][Oo][Dd][Oo].txt

# Sample testing
*_input.txt
*_output.txt

# Python
*.pyc
__pycache__/
*.egg-info/

# C/C++
*.o
*.out
a.out*
*.a
*.obj
*.exe
*.dll
*.so
*.dylib

# Packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Tex files
*.dvi
*.log
*.ps
*.aux

# Misc
*.thm
